## sorted( )

### Sorting Numbers

In [100]:
numbers = [56, 90, 31, 1, 17, 100]
sorted(numbers)

[1, 17, 31, 56, 90, 100]

In [101]:
# When the original variable is printed, the initial values are unchanged (not in-place)
numbers

[56, 90, 31, 1, 17, 100]

- sorted() is a built-in function - Returns an ordered list
- Sorts in ascending order if no parameters are specified
- Original numbers list is unchanged (not in-place)

In [102]:
# When sorted() is called, it provides an ordered list as a return value and the output can immediately be assigned 
# to a list
numbers_sorted = sorted(numbers) 
numbers_sorted

[1, 17, 31, 56, 90, 100]

sorted() can be used on tuples and sets

In [103]:
numbers_tuple = (56, 90, 31, 1, 17, 100)
numbers_set = {50, 12, 12, 9, 7, 0}
numbers_tuple_sorted = sorted(numbers_tuple)
numbers_set_sorted = sorted(numbers_set)
numbers_tuple_sorted

[1, 17, 31, 56, 90, 100]

In [104]:
type(numbers_tuple_sorted)

list

In [105]:
numbers_set_sorted

[0, 7, 9, 12, 50]

In [106]:
type(numbers_set_sorted)

list

Our input above was a set and a tuple but when we apply sorted() it returns a list.

In [113]:
tuple(numbers_tuple_sorted)

(1, 17, 31, 56, 90, 100)

In [114]:
# The returned object can be cast to a new type if it needs to match the input type
type(tuple(numbers_tuple_sorted))

tuple

In [115]:
type(numbers_tuple_sorted)

list

In [116]:
set(numbers_set_sorted)

{0, 7, 9, 12, 50}

In [119]:
# Be careful if attempting to cast the resulting list back to a set, as a set by definition is unordered
type(set(numbers_set_sorted))

set

In [120]:
# The saved sorted list retained the sorted ordee
numbers_set_sorted

[0, 7, 9, 12, 50]

### Sorting Strings

In [61]:
string_number = '78932'
string_value = 'Sorting is fun'
sorted_string_number = sorted(string_number)
sorted_string = sorted(string_value)
sorted_string_number

['2', '3', '7', '8', '9']

In [62]:
sorted_string

[' ', ' ', 'S', 'f', 'g', 'i', 'i', 'n', 'n', 'o', 'r', 's', 't', 'u']

sorted() will treat a string like a list and iterate over each element and  sort each character, including spaces.

In [64]:
# using  split() to clean up the output
sorted_string = sorted(string_value.split())
sorted_string

['Sorting', 'fun', 'is']

In [65]:
# put it the sorted string together with join
' '.join(sorted_string)

'Sorting fun is'

Limitations

- Lists with non-comparable data types can’t be sorted()
- There are data types that can’t be compared to each other using sorted()

In [66]:
mixed_types = ['to', 89]
sorted(mixed_types)

TypeError: '<' not supported between instances of 'int' and 'str'

In [123]:
None >= 'Python'

TypeError: '>=' not supported between instances of 'NoneType' and 'str'

In [68]:
mixed_numbers = [201, "10", 789, "31", 40, 0]
sorted(mixed_numbers)

TypeError: '<' not supported between instances of 'str' and 'int'

A combination of integers and strings that are all numbers can be cast to comparable data types 
by using a list comprehension

In [48]:
# Each element in mixed_numbers has int() called on it to convert any str values to int values
[int(x) for x in mixed_numbers]

[201, 10, 789, 31, 40, 0]

In [124]:
# sorted() can now successfully compare each element and provide a sorted output
sorted([int(x) for x in mixed_numbers])

[0, 10, 31, 40, 201, 789]

In [125]:
# The elements in the list below can  all be implicitly converted to  
# Booleans (True or False) and compared to each other using sorted()

similar_values = [True, 0, 1, 'x' == 'B', 18 <= 0]
sorted(similar_values)

[0, False, False, True, 1]

'x' == 'B' and 18 <= 0 are converted to False and returned in the ordered output.

When you sort equal values, they will retain their original order in the output.

Even though the 1 moved, all the other values are equal so they retain their original order relative to each other.

In [73]:
# In the example below all the values are considered equal and retained their original positions
false_values = [False, 0, 0, 1 == 2, 0, False, False]
sorted(false_values)

[False, 0, 0, False, 0, False, False]

If you inspect the original order and the sorted output, you will see that 1 == 2 is converted to False, and all 
sorted output is in the original order.

----------------------------------------------------------------------------------------------------------------------
When You’re Sorting Strings, Case Matters sorted() can be used on a list of strings to sort the values in ascending order, which appears to be alphabetically by default

In [75]:
names = ['Brahm', 'Helen', 'Omer', 'Manisha', 'Emefa', 'Angel', 'Nick']
sorted(names)

['Angel', 'Brahm', 'Emefa', 'Helen', 'Manisha', 'Nick', 'Omer']

Python uses the Unicode Code Point of the first letter in each string to determine ascending sort order. 
This means that sorted() will not treat the names Al and al the same. This example uses ord() to return the Unicode Code Point of the first letter in each string

In [76]:
names_with_case = ['Brahm', 'helen', 'Omer', 'Manisha', 'Emefa', 'angel', 'nick']
sorted(names_with_case)

['Brahm', 'Emefa', 'Manisha', 'Omer', 'angel', 'helen', 'nick']

In [77]:
# List comprehension for Unicode Code Point of first letter in each word
[(ord(name[0]), name[0]) for name in sorted(names_with_case)]

[(66, 'B'), (69, 'E'), (77, 'M'), (79, 'O'), (97, 'a'), (104, 'h'), (110, 'n')]

name[0] is returning the first character in each element of sorted(names_with_case), and ord() is providing the 
Unicode Code Point. 

If the first letter is the same, then sorted() will use the second character to determine order, and the third 
character if that is the same all the way to the end of the string.

----------------------------------------------------------------------------------------------------------------------
Using sorted() with reverse=True, the sorting will be in descending order

In [78]:
names = ['Brahm', 'Helen', 'Omer', 'Manisha', 'Emefa', 'Angel']
sorted(names)

['Angel', 'Brahm', 'Emefa', 'Helen', 'Manisha', 'Omer']

In [79]:
sorted(names, reverse=True)

['Omer', 'Manisha', 'Helen', 'Emefa', 'Brahm', 'Angel']

In [80]:
names_with_case = ['Brahm', 'helen', 'Omer', 'Manisha', 'Emefa', 'angel', 'nick']
sorted(names_with_case, reverse=True)

['nick', 'helen', 'angel', 'Omer', 'Manisha', 'Emefa', 'Brahm']

In [126]:
similar_values = [True, 0, 1, 'x' == 'B', 18 <= 0]
sorted(similar_values, reverse=True)

[True, 1, 0, False, False]

One of the most powerful components of sorted() is the keyword argument called key. This argument expects a function
to be passed to it, and that function will be used on each value in the list being sorted to determine the resulting 
order.

Let’s return to the earlier example of sorting by first letter when the case is different. key can be used to solve 
that problem by converting the entire string to lowercase:

In [151]:
names_with_case = ['Brahm', 'helen', 'Omer', 'Manisha', 'Emefa', 'angel', 'nick']
sorted(names_with_case, key=str.lower)

['angel', 'Brahm', 'Emefa', 'helen', 'Manisha', 'nick', 'Omer']

The number of required arguments in the function passed to key must be one which can cause a problem like the following example

In [87]:
def multiply(x, y):
    return x * y

values_to_multiply = [2, 3, 2]
sorted(values_to_multiply, key=add)

NameError: name 'add' is not defined

In [ ]:
Additionally, the function used with key must be able to handle all the values in the iterable. 
If a value in the iterable can’t be cast to an integer like the example below we will get an error

In [88]:
values_to_cast = ['12', '122', 'onethousand']
sorted(values_to_cast, key=int)

ValueError: invalid literal for int() with base 10: 'onethousand'

The key functionality is extremely powerful because almost any function, built-in or user-defined, can be used to 
manipulate the output order.

Let's order by the last letter in each string (and if the letter is the same, 
then to use the next letter), then a function can be defined and then used in the sorting

In [133]:
def reverse_word(word):
    return word[::-1]

words = ['Worldly', 'wiley', 'emotionally', 'Aztec']
sorted(words, key=reverse_word)

['Aztec', 'wiley', 'Worldly', 'emotionally']

Instead of writing a standalone function, you can use a lambda function defined in the key argument.

In [132]:
words = ['Worldly', 'wiley', 'emotionally', 'Aztec']
sorted(words, key=lambda x: x[::-1])

['Aztec', 'wiley', 'Worldly', 'emotionally']

If the requirement changes, and the order should be reversed as well, then the reverse keyword can be used alongside 
the key argument

In [92]:
words = ['Flatiron', 'Fun', 'fantastic', 'fabulous']
sorted(words, key=lambda x: x[::-1], reverse=True)

['fabulous', 'Fun', 'Flatiron', 'fantastic']

##  .sort()

- .sort() is a method of the list class and can only be used with lists. It is not a built-in with an iterable passed
to it.
- .sort() returns None and modifies the values in place.

In [94]:
values_to_sort = [56, 90, 31, 1, 17, 100]
# Try to call .sort() like sorted()
sort(values_to_sort)

NameError: name 'sort' is not defined

In [95]:
 # Try to use .sort() on a tuple
tuple_val = (56, 90, 31, 1, 17, 100)
tuple_val.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [96]:
# Sort the list and assign to new variable
sorted_values = values_to_sort.sort()
print(sorted_values)

None

There is no ordered output of .sort(), so the assignment to a new variable only passes a None type

In [97]:
# Print original variable
print(values_to_sort)

[1, 17, 31, 56, 90, 100]

In [155]:
txt = ['Joe', 'loves', 'fishing']
txt_sorted = txt.sort()
print(txt_sorted)

None

The values_to_sort list has been changed in place, and the original order is not maintained in any way

.sort() has the same key and reverse optional keyword arguments that produce the same robust functionality as sorted()

In [142]:
employee_salary_tuple = [('Angel', 120000), ('Joe', 80000), ('Jim', 40000)]
sorted(employee_salary_tuple, key=lambda student: student[1])

[('Jim', 40000), ('Joe', 80000), ('Angel', 120000)]

In [154]:
?.sort()

Object `.sort` not found.