In [1]:
import sqlite3
import pandas as pd

In [2]:
conn = sqlite3.connect('cats.db')
c = conn.cursor()

In [35]:
c.execute('ATTACH DATABASE "dogs.db" AS db_dogs')
c.execute('ATTACH DATABASE "owners.db" AS db_owners')

In [36]:
sql_str = """SELECT * From db_owners.owners o
            LEFT JOIN cats c ON c.Owner_ID = o.ID
            WHERE o.Name="Avi Flombaum"
        """

In [37]:
df = pd.DataFrame(c.execute(sql_str).fetchall())
df.columns = [x[0] for x in c.description]
df

,Name,Phone,Address,ID,Name,Breed,House_Number,Owner_ID
0,Avi Flombaum,4698780125,1776 New York Ave,3,Jackson,Balinese,2,3

In [3]:
c.execute('SELECT name from sqlite_master where type= "table"')
print(c.fetchall())

[('cats',)]

A. Write a SQL query that can grab the names of all pets owned by the founder of Flatiron School, Avi Flombaum

In [21]:
c.execute("""select * from cats;""")
df = pd.DataFrame(c.fetchall())
df.columns = [x[0] for x in c.description]
df

        Name         Breed House_Number Owner_ID
0       Bell       Siamese            1        4
1    Jackson      Balinese            2        3
2   Precious     Himalayan            3        4
3      Rocky  Egyptian Mau            4        2
4     Samson      Javanese            5        1
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20                                          None

In [4]:
c.execute("""select * from dogs;""")
df = pd.DataFrame(c.fetchall())
df.columns = [x[0] for x in c.description]
df

OperationalError: no such table: dogs

B. Which House_Number contains the most number of pets in it and how many?

C. The daycare realized that House 4 needs the owners of its pets to update their addresses. Grab the names and phone numbers of owners with pets in house 4 that do not currently have an address.